/**
*
*  Simple CSS para STAMPA
*
*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro: 200,300,400);

body{
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: rgba(69, 71, 71, 1);
	min-width: 100%;
	margin: auto;
}

h1{
	color: white;
	font-weight: 300;
	font-size: 130px;
	margin: 0;
	text-shadow: 5px 5px 0 rgba(0,0,0,.3);
	text-align: center;
	padding-top: 18px;
	padding-bottom: 18px;
	letter-spacing: .15ex;
}

h2{
	font-size: 29px;
	font-weight: 400;
	text-align: center;
	color: rgba(69, 71, 71, 1);
	clear: both;
	margin-top: 70px;
}

h3{
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	letter-spacing: .12ex;
	text-transform: uppercase;
	clear: both;
}

h4 {
	font-size: 19px;
	font-weight: 400;
	color: #0969A2;
}

h5 {
	font-size: 14px;
	clear:both;
	padding: 5px 15px;
	border: solid #0969A2 1px;
	max-width: 105px;
	margin-bottom: 105px;
}

a,ul,li{
	text-decoration: none;
	list-style: none;
}

h4 a:link{
	font-weight: 400;
	color:#0969A2;
}

h4 a:visited{
	color:#0969A2;
}

h4 a:hover{
	color:#0969A2;
}

h4 a:active{
	color:#0969A2;
}

.content a:link{
	font-weight: 400;
	color:#0969A2;
}

.content a:visited{
	color:#0969A2;
}

.content a:hover{
	color:#0969A2;
}

.content a:active{
	color:#0969A2;
}



.wrap {
	max-width: 680px;
	margin: 0px auto;
}

.content {
	width: 75%;
	margin: auto;
}

/* Header y footer */

header,footer {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}

header,footer a{
	color: white;
}

header {
	margin-bottom: 30px;
	border-bottom: solid rgba(226, 226, 226, 1) 25px;
}

header a:link{
	color: white;
	font-weight: 400;
}

header a:visited{
	color: white;
}

header a:hover{
	color: #034369;
}

header a:active{
	color: white;
}

footer {
	margin-top: 150px;
	color: #A5CFE8;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	letter-spacing: .1ex;
	clear: both;
}

footer a:link{}

footer a:visited{
	color: rgba(226, 226, 226, 1);
}

footer a:hover{}

footer a:active{}


/* Barra de navegación */

nav {
	background-color: rgba(226, 226, 226, 1);
	height: 35px;
	padding-top: 20px;
}
 

nav li{
	float:left;
	margin-right: 170px;
	color: #0969A2;
	font-size: 15px;
	font-weight: 400;
}

nav li:last-child{
	margin-right: 0px;
}

nav a:link {
	color: #0969A2;
}

nav a:visited{
	color: #0969A2;
}

nav a:hover{
	color: #034369;
}

nav a:active{
	color: #0969A2;
}

/* Tablas */

table{
	background-color: #A5CFE8;
	width: 100%;
	font-size: 11px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

table th{
	text-align: left;
	color: #A5CFE8;
}
table th,
table td{
	padding: 10px;
}
table td span{
	color: inherit;
}

/* Códigos y GIST */

code{
	display: inline-block;
	font-family: Menlo, Monaco, monospace;
	background-color: white;
	padding: .3ex 1ex;
	color: rgba(69, 71, 71, 1);
	border: solid rgba(226, 226, 226, 1) 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 14px;
}

.gist{
margin: 0px 0px !important;
}
 
.gist-file{
border: none !important;
}
 
.gist-meta{
border: 1px solid rgba(226, 226, 226, 1)!important;
padding: 12px !important;
-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
 
}
 
.gist-data{
padding: 15px !important;
border: 1px solid rgba(226, 226, 226, 1)!important;
background-color: #A5CFE8 !important;
border-bottom: none !important;
-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius-topright: 10px;
-webkit-border-top-right-radius: 10px;
}


/* Otros */

.gigante {
	font-size: 170px;
	text-align: center;
}

.caja-icono {
	width:80px;
	height: 80px;
	background-color: rgba(226, 226, 226, 1);
	display: block;
	border-radius: 5px;
	text-align: center;
	margin: 10px;
	padding: 5px;
	float: left;
}

.caja-icono p {
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
}

.caja-icono:last-child{
	margin-bottom: 60px;
}

.tres-columnas {
       -moz-column-count: 3;
       -moz-column-gap: 20px;
       -webkit-column-count: 3;
       -webkit-column-gap: 20px;
}

.ejemplo {
	font-size: 15px;
	line-height: 20px;
	float: left;
	text-align: top;
	display: block;
	border-right: solid rgba(226, 226, 226, 1) 5px;
	width: 210px;
	max-height: 150px;
	padding: 15px 25px 15px 0px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.prueba {
	font-size: 21px;
	font-weight: 200;
}


/* Media queries*/

@media (max-width: 800px) {

	h1{
		font-size: 110px;
		text-shadow: 3px 4px 0 rgba(0,0,0,.3);
	}

	h2{
		font-size: 30px;
	}

	.wrap{
		max-width: 550px;
	}

	nav li{
		margin-right: 22%;
	}

	.github-btn{
		display: none;
	}

	.gigante{
		font-size: 140px;
	}

	.ejemplo {
	font-size: 15px;
	line-height: 20px;
	float: none;
	text-align: top;
	display: block;
	border-right: none;
	border-bottom: solid rgba(226, 226, 226, 1) 5px;
	width: 95%;
	max-height: auto;
	margin-right: none;
	margin-bottom: 30px;
	padding: 15px 0px 45px 0px;
}
}

@media (max-width: 640px) {

	h2{
		font-size: 24px;
		margin-top: 30px;
	}

	.wrap{
		max-width: 78%;
	}


	nav li{
		margin-right: 21%;
	}

	.github-btn{
		display: none;
	}

	.gigante{
		font-size: 100px;
	}

	footer {
	margin-top: 90px;
	}

	.tres-columnas {
       -moz-column-count: 2;
       -moz-column-gap: 30px;
       -webkit-column-count: 2;
       -webkit-column-gap: 30px;
}
}

@media (max-width: 480px) {


	h1{
		font-size: 70px;
		text-shadow: none;
	}

	h2{
		font-size: 18px;
		margin-top: 15px;
	}

	h4{
		font-size: 16px;
	}


	.wrap{
		max-width: 84%;
	}

	.content{
		width: 84%;
	}

	nav li{
		margin-right: 17%;
		color: #0969A2;
		font-size: 14px;
		font-weight: 400;
	}

	.github-btn{
		display: none;
	}

	.gigante{
		display: none;
	}

	header {
	min-height: 200px;
	}

	footer {
	margin-top: 90px;
	max-height: 70px;
	bottom: 0px;
	}

	.caja-icono {
	display: block;
	float: none;
	width:90%;
	height: auto;
	background-color: rgba(226, 226, 226, 1);
	display: block;
	margin: 5px 0px;
	padding: 5px;
	float: left;
	}

	.caja-icono p {
	font-size: 14px;
	font-weight: 400;
	line-height: 10px;
	}

	.caja-icono i{
		font-size: 21px;
		line-height: 10px;	
	}

	.gist {
		display: none;
	}

	.tres-columnas {
       -moz-column-count: 1;
       -webkit-column-count: 1;
}
