/**
*
*  Simple CSS para STAMPA
*
*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700,900,600);

body{
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: rgba(69, 71, 71, 1);
	min-width: 100%;
	margin: auto;
}

h1{
	color: white;
	font-weight: 600;
	font-size: 173px;
	margin: 0;
	text-shadow: 5px 5px 0 rgba(0,0,0,.3);
	text-align: center;
}

h2{
	font-size: 29px;
	font-weight: 400;
	color: rgba(69, 71, 71, 1);
	clear: both;
	margin-top: 60px;
}

h3{
	color: #A5CFE8;
	font-size: 19px;
	font-weight: 300;
	text-align: center;
	letter-spacing: .12ex;
	text-transform: uppercase;
}

h4 {
	font-size: 19px;
	font-weight: 400;
	color: #0969A2
}

a,ul,li{
	text-decoration: none;
	list-style: none;
}


.wrap {
	max-width: 680px;
	margin: 0px auto;
}

.content {
	width: 75%;
	margin: auto;
}

header,footer {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}

header,footer a{
	color: white;
}

nav {
	background-color: rgba(226, 226, 226, 1);
	height: 40px;
	padding-top: 20px;
}
 

nav li{
	float:left;
	margin-right: 170px;
	color: #0969A2;
	font-size: 15px;
	font-weight: 400;
}

nav li:last-child{
	margin-right: 0px;
}

header {
	margin-bottom: 50px;
	border-bottom: solid rgba(226, 226, 226, 1) 25px;
}

header a:active{
	color: #0969A2;
}

header a:visited{
	color: rgba(226, 226, 226, 1);
}

nav a:link {
	color: #0969A2;
}

nav a:visited{
	color: #0969A2;
}

nav a:hover{
	color: #034369;;
}

footer a:visited{
	color: rgba(226, 226, 226, 1);
}

footer {
	margin-top: 150px;
	color: #A5CFE8;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	letter-spacing: .1ex;
}

table{
	background-color: #A5CFE8;
	width: 100%;
	font-size: 11px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

table th{
	text-align: left;
	color: #A5CFE8;
}
table th,
table td{
	padding: 10px;
}
table td span{
	color: inherit;
}
code{
	display: inline-block;
	font-family: Menlo, Monaco, monospace;
	background-color: white;
	padding: .3ex 1ex;
	color: rgba(69, 71, 71, 1);
	border: solid rgba(226, 226, 226, 1) 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 14px;
}

hr {
	margin-top: 40px;
	background-color: rgba(226, 226, 226, 1);
	height: 5px;
	border: none;
}

.gigante {
	font-size: 170px;
	text-align: center;
}

.ejemplo {
	font-size: 15px;
	line-height: 20px;
	float: left;
	text-align: top;
	display: block;
	border-right: solid rgba(226, 226, 226, 1) 5px;
	width: 210px;
	max-height: 150px;
	padding: 15px 25px 15px 0px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.gist{
margin: 0px 0px !important;
}
 
.gist-file{
border: none !important;
}
 
.gist-meta{
border: 1px solid rgba(226, 226, 226, 1)!important;
padding: 12px !important;
-moz-border-radius-bottomleft: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
 
}
 
.gist-data{
padding: 15px !important;
border: 1px solid rgba(226, 226, 226, 1)!important;
background-color: #A5CFE8 !important;
border-bottom: none !important;
-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius-topright: 10px;
-webkit-border-top-right-radius: 10px;
}

.caja-icono {
	width:80px;
	height: 80px;
	background-color: rgba(226, 226, 226, 1);
	display: block;
	border-radius: 5px;
	text-align: center;
	margin: 10px;
	padding: 5px;
	float: left;
}

.caja-icono p {
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
}

