@font-face {
	font-family: 'eadiconos';
	src:url('../fonts/eadiconos.eot');
	src:url('../fonts/eadiconos.eot?#iefix') format('embedded-opentype'),
		url('../fonts/eadiconos.ttf') format('truetype'),
		url('../fonts/eadiconos.woff') format('woff'),
		url('../fonts/eadiconos.svg#eadiconos') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="fa-"], [class*=" fa-"] {
	font-family: 'eadiconos';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-rss:before {
	content: "\e600";
}
.fa-marcador:before {
	content: "\e601";
}
.fa-lapiz:before {
	content: "\e602";
}
.fa-impresora:before {
	content: "\e603";
}
.fa-grafico:before {
	content: "\e604";
}
.fa-enlace:before {
	content: "\e605";
}
.fa-email:before {
	content: "\e606";
}
.fa-documento:before {
	content: "\e607";
}
.fa-descargar:before {
	content: "\e608";
}
.fa-compartir:before {
	content: "\e609";
}
.fa-travesia:before {
	content: "\e60a";
}
.fa-acto:before {
	content: "\e60b";
}
.fa-tiempo:before {
	content: "\e60c";
}
.fa-reloj:before {
	content: "\e60d";
}
.fa-refrescar:before {
	content: "\e60e";
}
.fa-calendario:before {
	content: "\e60f";
}
.fa-seccion:before {
	content: "\e610";
}
.fa-parrafo:before {
	content: "\e611";
}
.fa-hedera:before {
	content: "\e612";
}
.fa-hedera-2:before {
	content: "\e613";
}
.fa-corchete:before {
	content: "\e614";
}
.fa-corchete-2:before {
	content: "\e615";
}
.fa-corchetes:before {
	content: "\e616";
}
.fa-siguiente:before {
	content: "\e617";
}
.fa-anterior:before {
	content: "\e618";
}
.fa-visto:before {
	content: "\e619";
}
.fa-vineta:before {
	content: "\e61a";
}
.fa-ese:before {
	content: "\e61b";
}
.fa-equis:before {
	content: "\e61c";
}
.fa-cruz:before {
	content: "\e61d";
}
.fa-asterisco:before {
	content: "\e61e";
}
.fa-mapa:before {
	content: "\e61f";
}
.fa-mapa-agregar:before {
	content: "\e620";
}
.fa-lupa:before {
	content: "\e621";
}
.fa-lupa-alejar:before {
	content: "\e622";
}
.fa-lupa-acercar:before {
	content: "\e623";
}
.fa-estrella:before {
	content: "\e624";
}
.fa-engranaje:before {
	content: "\e625";
}
.fa-perfil:before {
	content: "\e626";
}
.fa-salir:before {
	content: "\e627";
}
.fa-ingresar:before {
	content: "\e628";
}
.fa-candado-cerrado:before {
	content: "\e629";
}
.fa-candado-abierto:before {
	content: "\e62a";
}
.fa-advertencia:before {
	content: "\e62b";
}
