// Base Class Definition
// -------------------------

.@{fa-css-prefix} {
  display: inline-block;
  font-family: 'eadfanos';
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
