// Tamaños iconos


.@{icn-css-prefix}-sm {
  font-size: 1em;
  line-height: 1em;
}

.@{icn-css-prefix}-md {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}

.@{icn-css-prefix}-lg {
  font-size: (5em / 3);
  line-height: (5em / 3);
  vertical-align: -15%;
}

.@{icn-css-prefix}-xl {
  font-size: 3em;
  line-height: 3em;
  vertical-align: -15%;
}


//Tamaño predeterminado

.@{icn-css-prefix}-fw {
  width: (18em / 14);
  text-align: center;
}