// Variables
// --------------------------

@font-path:        "../fonts/icon-font/";
@icn-css-prefix:       icn;
@icn-version:          "2";
@icn-border-color:     #eee;
@icn-inverse:          #fff;
@icn-li-width:         (30em / 14);

@icn-var-rss: "\e637";
@icn-var-marcador:"\e640";
@icn-var-lapiz:"\e649";
@icn-var-impresora:"\e64b";
@icn-var-grafico:"\e64f";
@icn-var-enlace:"\e655";
@icn-var-enlace-horizontal:"\e656";
@icn-var-email: "\e658";
@icn-var-documento:"\e607";
@icn-var-descargar:"\e608";
@icn-var-compartir:"\e609";
@icn-var-travesia:"\e60a";
@icn-var-acto:"\e60b";
@icn-var-tiempo:"\e60c";
@icn-var-reloj:"\e60d";
@icn-var-refrescar:"\e60e";
@icn-var-calendario:"\e60f";
@icn-var-seccion:"\e610";
@icn-var-parrafo:"\e611";
@icn-var-hedera:"\e612";
@icn-var-corchete-abierto:"\e614";
@icn-var-corchete-cerrado:"\e615";
@icn-var-corchetes:"\e616";
@icn-var-anterior:"\e617";
@icn-var-siguiente:"\e618";
@icn-var-visto:"\e619";
@icn-var-vineta:"\e61a";
@icn-var-ese:"\e61b";
@icn-var-equis:"\e61c";
@icn-var-cruz:"\e61d";
@icn-var-asterisco:"\e61e";
@icn-var-mapa:"\e61f";
@icn-var-mapa-agregar:"\e620";
@icn-var-lupa:"\e621";
@icn-var-lupa-alejar:"\e622";
@icn-var-lupa-acercar:"\e623";
@icn-var-estrella:"\e624";
@icn-var-engranaje:"\e625";
@icn-var-perfil:"\e626";
@icn-var-salir:"\e627";
@icn-var-ingresar:"\e628";
@icn-var-candado-cerrado:"\e629";
@icn-var-candado-abierto:"\e62a";
@icn-var-advertencia:"\e62b";