// List Icons
// -------------------------

.@{ico-css-prefix}-ul {
  padding-left: 0;
  margin-left: @ico-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.@{ico-css-prefix}-li {
  position: absolute;
  left: -@ico-li-width;
  width: @ico-li-width;
  top: (2em / 14);
  text-align: center;
  &.@{ico-css-prefix}-lg {
    left: -@ico-li-width + (4em / 14);
  }
}
