/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'Stampa';
  src: url('@{font-path}/stampa.eot?v=@{icn-version}');
  src: url('@{font-path}/stampa.eot?#iefix&v=@{icn-version}') format('embedded-opentype'),
    url('@{font-path}/stampa.woff?v=@{icn-version}') format('woff'),
    url('@{font-path}/stampa.ttf?v=@{icn-version}') format('truetype'),
    url('@{font-path}/stampa.svg?v=@{icn-version}#fontawesomeregular') format('svg');
//  src: url('@{fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
