
//*Stampa Regular*//
//Flecha

.icn-flecha-der:before {content: 'icn-flecha';}

.icn-flecha-arriba:before{content: 'icn-flecha';}
.icn-flecha-arriba{.icn-rotate-270;}

.icn-flecha-abajo:before{content: 'icn-flecha';}
.icn-flecha-abajo{.icn-rotate-90;}

.icn-flecha-izq:before{content: 'icn-flecha';}
.icn-flecha-izq{.icn-rotate-180;}

//Caron

.icn-caron-der:before {content: 'icn-nav';}

.icn-caron-arriba:before{content: 'icn-nav';}
.icn-caron-arriba{.icn-rotate-270;}

.icn-caron-abajo:before{content: 'icn-nav';}
.icn-caron-abajo{.icn-rotate-90;}

.icn-caron-izq:before{content: 'icn-nav';}
.icn-caron-izq{.icn-rotate-180;}

//Mano

.icn-mano-der:before {content: 'icn-mano-der';}

.icn-mano-arriba:before{content: 'icn-mano-der';}
.icn-mano-arriba{.icn-rotate-270;}

.icn-mano-abajo:before{content: 'icn-mano-der';}
.icn-mano-abajo{.icn-rotate-90;}

.icn-mano-izq:before{content: 'icn-mano-der';}
.icn-mano-izq{.icn-rotate-180;}

//Nav

.icn-nav-der:before {content: 'icn-nav';}

.icn-nav-arriba:before{content: 'icn-nav';}
.icn-nav-arriba{.icn-rotate-270;}

.icn-nav-abajo:before{content: 'icn-nav';}
.icn-nav-abajo{.icn-rotate-90;}

.icn-nav-izq:before{content: 'icn-nav';}
.icn-nav-izq{.icn-rotate-180;}

//Orden

.icn-orden-hor:before {content: 'icn-orden-horizontal';}

.icn-orden-ver:before{content: 'icn-orden-horizontal';}
.icn-orden-ver{.icn-rotate-270;}


//----- 

//*Stampa Light*//
//Flecha

.icn-flecha-der-lig:before {content: 'icn-flecha-lig';}

.icn-flecha-arriba-lig:before{content: 'icn-flecha-lig';}
.icn-flecha-arriba-lig{.icn-rotate-270;}

.icn-flecha-abajo-lig:before{content: 'icn-flecha-lig';}
.icn-flecha-abajo-lig{.icn-rotate-90;}

.icn-flecha-izq-lig:before{content: 'icn-flecha-lig';}
.icn-flecha-izq-lig{.icn-rotate-180;}

//Caron

.icn-caron-der-lig:before {content: 'icn-nav-lig';}

.icn-caron-arriba-lig:before{content: 'icn-nav-lig';}
.icn-caron-arriba-lig{.icn-rotate-270;}

.icn-caron-abajo-lig:before{content: 'icn-nav-lig';}
.icn-caron-abajo-lig{.icn-rotate-90;}

.icn-caron-izq-lig:before{content: 'icn-nav-lig';}
.icn-caron-izq-lig{.icn-rotate-180;}

//Mano

.icn-mano-der-lig:before {content: 'icn-mano-lig';}

.icn-mano-arriba-lig:before{content: 'icn-mano-lig';}
.icn-mano-arriba-lig{.icn-rotate-270;}

.icn-mano-abajo-lig:before{content: 'icn-mano-lig';}
.icn-mano-abajo-lig{.icn-rotate-90;}

.icn-mano-izq-lig:before{content: 'icn-mano-lig';}
.icn-mano-izq-lig-lig{.icn-rotate-180;}

//Nav

.icn-nav-der-lig:before {content: 'icn-nav-lig';}

.icn-nav-arriba-lig:before{content: 'icn-nav-lig';}
.icn-nav-arriba-lig{.icn-rotate-270;}

.icn-nav-abajo-lig:before{content: 'icn-nav-lig';}
.icn-nav-abajo-lig{.icn-rotate-90;}

.icn-nav-izq-lig:before{content: 'icn-nav-lig';}
.icn-nav-izq-lig{.icn-rotate-180;}

//Orden

.icn-orden-hor-lig:before {content: 'icn-orden-horizontal-lig';}

.icn-orden-ver-lig:before{content: 'icn-orden-horizontal-lig';}
.icn-orden-ver-lig{.icn-rotate-270;}













