
//Flecha

.icn-flecha-der:before {content: @icn-var-flecha;}

.icn-flecha-arriba:before{content: @icn-var-flecha;}
.icn-flecha-arriba{.icn-rotate-270;}

.icn-flecha-abajo:before{content: @icn-var-flecha;}
.icn-flecha-abajo{.icn-rotate-90;}

.icn-flecha-izq:before{content: @icn-var-flecha;}
.icn-flecha-izq{.icn-rotate-180;}

//Caron

.icn-caron-der:before {content: @icn-var-caron;}

.icn-caron-arriba:before{content: @icn-var-caron;}
.icn-caron-arriba{.icn-rotate-270;}

.icn-caron-abajo:before{content: @icn-var-caron;}
.icn-caron-abajo{.icn-rotate-90;}

.icn-caron-izq:before{content: @icn-var-caron;}
.icn-caron-izq{.icn-rotate-180;}

//Mano

.icn-mano-der:before {content: @icn-var-mano;}

.icn-mano-arriba:before{content: @icn-var-mano;}
.icn-mano-arriba{.icn-rotate-270;}

.icn-mano-abajo:before{content: @icn-var-mano;}
.icn-mano-abajo{.icn-rotate-90;}

.icn-mano-izq:before{content: @icn-var-mano;}
.icn-mano-izq{.icn-rotate-180;}

//Nav

.icn-nav-der:before {content: @icn-var-nav;}

.icn-nav-arriba:before{content: @icn-var-nav;}
.icn-nav-arriba{.icn-rotate-270;}

.icn-nav-abajo:before{content: @icn-var-nav;}
.icn-nav-abajo{.icn-rotate-90;}

.icn-nav-izq:before{content: @icn-var-nav;}
.icn-nav-izq{.icn-rotate-180;}

//Orden

.icn-orden-hor:before {content: @icn-var-orden;}

.icn-orden-ver:before{content: @icn-var-orden;}
.icn-orden-ver{.icn-rotate-270;}







