// Variables
// --------------------------

@font-path:        "../fonts/stampa-webfont";
@icn-css-prefix:       icn;
@icn-version:          "3.0.0";
@icn-border-color:     #eee;
@icn-inverse:          #fff;
@icn-li-width:         (30em / 14);

//Colores
//-----
// Grises
@negro: 						rgba(43, 44, 42, 1);
@gris-oscuro:					rgba(164, 164, 162, 1);
@gris:							rgba(193, 194, 194, 1);
@gris-claro:					rgba(226, 226, 226, 1);

// Cálidos
@oliva-oscuro:					rgba(90, 81, 18, 1);
@oliva:							rgba(123, 110, 27, 1);
@oliva-claro:					rgba(160, 146, 34, 1);
@beige-oscuro:					rgba(127, 112, 79, 1);
@beige:							rgba(202, 182, 135, 1);
@beige-claro:					rgba(235, 217, 164, 1);
@damasco-oscuro:				rgba(189, 138, 71, 1);
@damasco:						rgba(204, 142, 72, 1);
@damasco-claro:					rgba(205, 146, 74, 1);
@naranja-oscuro:				rgba(192, 90, 24, 1);
@naranja:						rgba(210, 101, 29, 1);
@naranja-claro:					rgba(242, 126, 47, 1);
@cafe-oscuro:					rgba(95, 53, 30, 1);
@cafe:							rgba(115, 56, 22, 1);
@cafe-claro:					rgba(135, 69, 28, 1);
@burdeo-oscuro:					rgba(95, 29, 25, 1);
@burdeo:						rgba(113, 25, 19, 1);
@burdeo-claro:					rgba(140, 35, 24, 1);
@rojo-oscuro:					rgba(151, 53, 51, 1);
@rojo:							rgba(172, 70, 67, 1);
@rojo-claro:					rgba(199, 81, 77, 1);


// Adicionales
@pizarra-oscuro:				rgba(43, 44, 42, 1);
@pizarra:						rgba(63, 68, 65, 1);
@pizarra-claro:					rgba(76, 77, 76, 1);
@ahuesado:                      rgba(239, 242, 219, 1);
@gris-blanco:                   rgba(51, 51, 51,.07);
@blanco:                        rgba(255, 255, 255, 1);


// Colores opuestos
@oliva-opuesto:					spin(@oliva, 180);
@beige-opuesto:					spin(@beige, 180);
@damasco-opuesto:				spin(@damasco, 180);
@naranja-opuesto:				spin(@naranja, 180);
@cafe-opuesto:					spin(@cafe, 180);
@burdeo-opuesto:				spin(@burdeo, 180);
@rojo-opuesto:					spin(@rojo, 180);

.@{icn-css-prefix}-rotate-90  { .icon-rotate(90deg, 1);  }
.@{icn-css-prefix}-rotate-180 { .icon-rotate(180deg, 2); }
.@{icn-css-prefix}-rotate-270 { .icon-rotate(270deg, 3); }


// Iconos Stampa Regular

@icn-var-visto:					"\e62e";
@icn-var-vineta:				"\e62f";
@icn-var-vinculo:				"\e630";
@icn-var-trabajo:				"\e632";
@icn-var-tiempo:				"\e633";
@icn-var-ese:					"\e635";
@icn-var-salir:					"\e636";
@icn-var-rss:					"\e637";
@icn-var-reloj:					"\e638";
@icn-var-refrescar:				"\e639";
@icn-var-usuario:				"\e63a";
@icn-var-usuario-mas:			"\e670";
@icn-var-usuario-menos:			"\e66f";
@icn-var-usuario-admin:			"\e673";
@icn-var-usuarios:				"\e66e";
@icn-var-parrafo:				"\e63b";
@icn-var-orden:					"\e63d";
@icn-var-ojo:					"\e63e";
@icn-var-noticias:				"\e63f";
@icn-var-mapa-concept:			"\e642";
@icn-var-mapa:					"\e641";
@icn-var-mapa-mas:				"\e643";
@icn-var-mano:				    "\e60b";
@icn-var-lupa:					"\e646";
@icn-var-lupa-menos:			"\e647";
@icn-var-lupa-mas:				"\e648";
@icn-var-lapiz:					"\e649";
@icn-var-ingresar:				"\e64a";
@icn-var-impresora:				"\e64b";
@icn-var-imagen:				"\e64c";
@icn-var-hogar:					"\e64d";
@icn-var-hedera:				"\e64e";
@icn-var-grafico:				"\e64f";
@icn-var-flecha:			    "\e650";
@icn-var-caron:				    "\e629";
@icn-var-facebook:				"\e651";
@icn-var-twitter:				"\e631";
@icn-var-marcador:				"\e640";
@icn-var-etiqueta:				"\e652";
@icn-var-estrella:				"\e653";
@icn-var-equis:					"\e654";
@icn-var-enlace:				"\e655";
@icn-var-enlace-hor:			"\e656";
@icn-var-engranaje:				"\e657";
@icn-var-email:					"\e658";
@icn-var-documento:				"\e659";
@icn-var-descargar:				"\e65a";
@icn-var-cuadro-lleno:			"\e65b";
@icn-var-cuadro:				"\e612";
@icn-var-circulo-lleno:			"\e618";
@icn-var-circulo:				"\e614";
@icn-var-prohibir:				"\e671";
@icn-var-mas:					"\e65c";
@icn-var-menos:					"\e61a";
@icn-var-corazon:				"\e65d";
@icn-var-corazon-l:				"\e613";
@icn-var-constel:				"\e65e";
@icn-var-compartir:				"\e65f";
@icn-var-codigo:				"\e660";
@icn-var-clip:					"\e661";
@icn-var-ciclo:					"\e662";
@icn-var-casiopea:				"\e663";
@icn-var-cerrado:				"\e664";
@icn-var-abierto:				"\e665";
@icn-var-calendario:			"\e666";
@icn-var-biblioteca:			"\e667";
@icn-var-asterisco:				"\e668";
@icn-var-archivo:				"\e669";
@icn-var-ampolleta:				"\e66a";
@icn-var-alarma:				"\e66b";
@icn-var-aviso:			   		"\e66c";
@icn-var-acto:					"\e66d";
@icn-var-travesia:				"\e600";
@icn-var-nav:					"\e601";
@icn-var-subir:					"\e619";
@icn-var-parlante:				"\e602";
@icn-var-palabra:				"\e62d";
@icn-var-stampa:				"\e621";
@icn-var-bower:					"\e672";
@icn-var-soundcloud:			"\e622";
@icn-var-less:					"\e625";
@icn-var-flickr:				"\e627";
@icn-var-jekyll:			    "\e626";
@icn-var-vimeo:					"\e620";
@icn-var-anuncio:				"\e623";
@icn-var-camara:				"\e62c";
@icn-var-menu:				    "\e678";
@icn-var-perfil:			    "\e675";
@icn-var-tablet:				"\e674";
@icn-var-pc:				    "\e676";
@icn-var-movil:			        "\e677";
@icn-var-estorninos:			"\e679";
@icn-var-cruz-sur:				"\e606";
@icn-var-youtube:				"\e61b";
@icn-var-lentes:			    "\e60a";
@icn-var-libro:					"\e61c";

// Iconos Stampa Ligera: Se le añade el sufijo -lig

@icn-var-visto-lig:					"\e6bd";
@icn-var-vineta-lig:				"\e6bc";
@icn-var-vinculo-lig:				"\e6bb";
@icn-var-trabajo-lig:				"\e6b2";
@icn-var-tiempo-lig:				"\e6b1";
@icn-var-ese-lig:					"\e6ac";
@icn-var-salir-lig:					"\e6ab";
@icn-var-rss-lig:					"\e6aa";
@icn-var-reloj-lig:					"\e6a9";
@icn-var-refrescar-lig:				"\e6a8";
@icn-var-usuario-lig:				"\e6b6";
@icn-var-usuario-mas-lig:			"\e6b7";
@icn-var-usuario-menos-lig:			"\e6b8";
@icn-var-usuario-admin-lig:			"\e6b5";
@icn-var-usuarios-lig:				"\e6b9";
@icn-var-parrafo-lig:				"\e6a4";
@icn-var-orden-lig:					"\e6a0";
@icn-var-ojo-lig:					"\e69f";
@icn-var-noticias-lig:				"\e69e";
@icn-var-mapa-concept-lig:			"\e695";
@icn-var-mapa-lig:					"\e696";
@icn-var-mapa-mas-lig:				"\e697";
@icn-var-mano-lig:				    "\e694";
@icn-var-lupa-lig:					"\e691";
@icn-var-lupa-menos-lig:			"\e693";
@icn-var-lupa-mas-lig:				"\e692";
@icn-var-lapiz-lig:					"\e68d";
@icn-var-ingresar-lig:				"\e68b";
@icn-var-impresora-lig:				"\e68a";
@icn-var-imagen-lig:				"\e689";
@icn-var-hogar-lig:					"\e688";
@icn-var-hedera-lig:				"\e687";
@icn-var-grafico-lig:				"\e686";
@icn-var-flecha-lig:			    "\e684";
@icn-var-caron-lig:				    "\e611";
@icn-var-facebook-lig:				"\e683";
@icn-var-twitter-lig:				"\e6b4";
@icn-var-marcador-lig:				"\e698";
@icn-var-etiqueta-lig:				"\e682";
@icn-var-estrella-lig:				"\e681";
@icn-var-equis-lig:					"\e67f";
@icn-var-enlace-lig:				"\e67e";
@icn-var-enlace-hor-lig:			"\e67d";
@icn-var-engranaje-lig:				"\e67c";
@icn-var-email-lig:					"\e67b";
@icn-var-documento-lig:				"\e67a";
@icn-var-descargar-lig:				"\e645";
@icn-var-cuadro-lig:				"\e634";
@icn-var-circulo-lig:				"\e61d";
@icn-var-prohibir-lig:				"\e6a7";
@icn-var-mas-lig:					"\e699";
@icn-var-menos-lig:					"\e69a";
@icn-var-corazon-lig:				"\e62a";
@icn-var-constel-lig:				"\e628";
@icn-var-compartir-lig:				"\e624";
@icn-var-codigo-lig:				"\e61f";
@icn-var-clip-lig:					"\e61e";
@icn-var-ciclo-lig:					"\e616";
@icn-var-casiopea-lig:				"\e613";
@icn-var-cerrado-lig:				"\e615";
@icn-var-abierto-lig:				"\e603";
@icn-var-calendario-lig:			"\e60f";
@icn-var-biblioteca-lig:			"\e60d";
@icn-var-asterisco-lig:				"\e609";
@icn-var-archivo-lig:				"\e608";
@icn-var-ampolleta-lig:				"\e607";
@icn-var-alarma-lig:				"\e605";
@icn-var-aviso-lig:			   		"\e60c";
@icn-var-acto-lig:					"\e604";
@icn-var-travesia-lig:				"\e6b3";
@icn-var-nav-lig:					"\e69d";
@icn-var-subir-lig:					"\e6af";
@icn-var-parlante-lig:				"\e6a2";
@icn-var-palabra-lig:				"\e6a1";
@icn-var-stampa-lig:				"\e6ae";
@icn-var-bower-lig:					"\e60e";
@icn-var-soundcloud-lig:			"\e6ad";
@icn-var-less-lig:					"\e68f";
@icn-var-flickr-lig:				"\e685";
@icn-var-jekyll-lig:			    "\e68c";
@icn-var-vimeo-lig:					"\e6ba";
@icn-var-anuncio-lig:				"\e6a3";
@icn-var-camara-lig:				"\e610";
@icn-var-menu-lig:				    "\e69b";
@icn-var-perfil-lig:			    "\e6a6";
@icn-var-tablet-lig:				"\e6b0";
@icn-var-pc-lig:				    "\e6a5";
@icn-var-movil-lig:			        "\e69c";
@icn-var-estorninos-lig:			"\e680";
@icn-var-cruz-sur-lig:				"\e62b";
@icn-var-youtube-lig:				"\e6be";
@icn-var-lentes-lig:			    "\e68e";
@icn-var-libro-lig:					"\e690";