// Variables
// --------------------------

@font-path:        "../fonts";
@css-prefix:       eadiconos;
@eadiconos-version:          "1";
@eadiconos-border-color:     #eee;
@eadiconos-inverse:          #fff;
@eadiconos-li-width:         (30em / 14);

@eadiconos-var-perfil: "\61";
@eadiconos-var-tiempo:"\62";
@eadiconos-var-engranaje:"\63";
@eadiconos-var-impresora:"\64";
@eadiconos-var-seccion:"\65";
@eadiconos-var-lupa:"\66";

