// Variables
// --------------------------

@font-path:        "../fonts";
@css-prefix:       ead;
@ead-version:          "1";
@ead-border-color:     #eee;
@ead-inverse:          #fff;
@ead-li-width:         (30em / 14);

@fa-var-glass: "\f000";

